{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>월소담 : 매달마다 적은 양으로 즐기는 롯데</title>
    {% block head %}
    {% endblock head %}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='{% static "css/nav.css" %}'/>
</head>

<!-- favicon.ico 404 (Not Found) -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<body>
<!-- navvar -->
<nav id="navbar">
        <a href="{% url 'main' %}"> <img id="logo_img" src='{% static "img/lotte_logo.png" %}' alt="logo"></a>
        <span>월소담</span>

    <ul>    
        <li><a id="introduce" href="{% url 'introduce' %}">소개</a></li>
        <li><a id="subscribe" href="{% url 'subscribe' %}">구독</a></li>
        <li><a id="product" href="{% url 'product' %}">제품</a></li>
        <li><a id="review" href="{% url 'review' %}">후기</a></li>
        <li><a id="QA" href="{% url 'QA' %}">Q&A</a></li>
    </ul>

    {% if request.user.is_authenticated %}  <!-- 만약 로그인이 되어있는 상태이면-->

        <a id="nav_mypage" href="{% url 'mypage' %}">My 페이지</a>
        <a id="nav_logout" href="javascript:{document.getElementById('logout').submit()}">
            <h1>로그아웃</h1>
          </a>
              <form id="logout" method="POST" action="{% url 'logout' %}">
                  {% csrf_token %} <input type="hidden" />
              </form>

    {% else %}  <!-- 로그인이 되어있지 않다면 -->
        <a id="nav_login" href="{% url 'login' %}">로그인</a>
    {% endif %}

</nav>
<!-- end navvar -->

<!-- content -->
{% block content %}
{% endblock content %}
<!-- end content -->

<script>
    let introduce = document.getElementById("introduce");
    let subscribe = document.getElementById("subscribe");
    let product = document.getElementById("product");
    let review = document.getElementById("review");
    let QA = document.getElementById("QA");

    let link = document.location.pathname;

    switch(link){
        case '/introduce/':
            introduce.style.color="#DA291C"
            break;
        case '/subscribe/':
            subscribe.style.color="#DA291C"
            break;
        case '/product/':
            product.style.color="#DA291C"
            break;
        case '/review/':
            review.style.color="#DA291C"
            break;
        case '/QA/':
            QA.style.color="#DA291C"
            break;
    }

</script>

</body>
</html>

