{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
</head>
<body> <!--메인 이미지-->
    <div class="intro wrapper">
        <h1 id="intro-title">푸드 얼리어답터를 위한<br> 롯데 신메뉴 시식 구독 서비스</h1>
        <div class="grey-back">
            <img id="gruop211" src="../static/img/gruop211.png" />
        </div>
        <h1 id="intro-title">롯데 월소담(月少妉)이란?</h1>
        <div class="intro-box">
            <p id="silver-font">롯데 월소담은 롯데의 신제품을 매월 적은 양으로 즐길 수 있는 먼슬리 구독 서비스입니다.</p>
            <p id="brown">　새로운 메뉴에 도전해보고 싶지만 많은 양과 낯선 메뉴에 대한 두려움에 쉽게 시도해보지 못했던 사람</p>
            <p id="red">　신제품을 구하고 싶지만 매번 실패하거나 주변에 입점이 되지 않아 실패하는 사람</p>
            <p id="brown">　야심차게 나왔지만 빛을 발하지 못하고 묻혀지는 제품들</p>
            <p id="silver-font">이런 두려움과 망설임을 월소담으로 해결해 보세요!</p> 
            <p id="silver-font">월소담이 롯데의 신제품들을 소분된 제품으로 한 박스에 모아 고객님의 집 앞으로 배달해 드립니다 :)</p>
        </div>
        <h1 id="intro-title">월소담은 이런게 달라요!</h1>
        <div class="intro-box">
            <div class="intbox wrapper">
                <img id="group" src="../static/img/group210.png" style="margin-right:37px;"/>
                <div class="intboxtext">
                    <p id="title-bold">내 입맛에 딱!</p>
                    <p id="silver-font">단짠단짠파? 고소파? 알레르기? 비건?<br>입맛 조사를 통해 보다 내 성향에 가까운 키트가 개발됩니다. 입맛에 맞지 않는 달은 잠시 쉬어가기를 통해 안심하세요!</p>
                </div>
            </div>
            <div class="intbox wrapper">
                <div class="intboxtext">
                    <p id="title-bold">이건 어떤 맛이지?</p>
                    <p id="silver-font">다양한 사람들의 후기를 통해 낯선 제품을 보다 가깝게 느끼실 수 있습니다. 후기를 통해 얻은 인사이트를 통해 더 나은 제품을 기대해 볼 수 있습니다. 다양한 소비층과 소비취향을 살펴볼 수 있습니다.</p>
                </div>
                    <img id="group" src="../static/img/group212.png" style="margin-left:37px;" />
            </div>
            <div class="intbox wrapper">
                <img id="group" src="../static/img/group213.png" style="margin-right:37px;"/>
                <div class="intboxtext">
                    <p id="title-bold">시식에서 본품까지!</p>
                    <p id="silver-font">월소담을 통해 시식한 제품의 본품을 롯데푸드몰에서 구입할 경우 할인쿠폰을 발급해드립니다. 시식의 경험부터 본품 구매 할인의 이득까지 챙겨가세요!</p>
                </div>
            </div>                
        </div>
        <h1 id="intro-title">LOGO</h1>
        <div class="intro-box">
            <div class="intboxtext">
                <p id="silver-font">월소담의 로고는 매월 작은 즐거움을 담아드리는 월소담의 아이덴티티를 한글 타이포와 자음을 이용한 심볼을 통해 표현하였습니다. 각 글자의 종성과 초성이 이어지며 생기는 운율감 있는 타이포 형태와 차분한 컬러를 통해 월소담이 전달하고자 하는 이미지를 표현하였으며, 자음을 이용한 심볼은 마치 택배 상자를 떠올리게 하여 배송받는 즐거움을 느낄 수 있도록 하였습니다.</p>
            </div>
            <img id="intrologo" src="../static/img/intropg-logo.jpg" style="display: block; margin: 0px auto;width: 475px;height: 268px;margin-bottom:80px;margin-top:28px;" />
            <div class="intbox wrapper" style="justify-content: space-between;">
                <img id="group" src="../static/img/group207.png" />
                <img id="group" src="../static/img/group209.png" />
                <img id="group" src="../static/img/group206.png" />
                <img id="group" src="../static/img/group208.png" />
            </div>
        </div>
        <h1 id="intro-title">Color</h1>
        <div class="intro-box">
            <div class="intboxtext">
                <p id="silver-font">월소담 컬러는 브라운 계열을 선택해 차분한 이미지를 전달하며, 롯데 푸드의 LOTTE FOOD RED와 조화롭게 어우러지는 색상입니다.</p>
            </div>
            <div class="intbox wrapper"style="justify-content: space-between;">
                <div id="aa7357">#AA7357</div>
                <div id="dab99c">#DAB99C</div>
                <div id="da291c">#DA291C</div>
            </div>
        </div>
        <h1 id="intro-title">Team 먼덕(Monthly Duksung)</h1>
        <div class="intro-box">
            <div class="intboxtext">
                    <p id="silver-font">팀 튜터리얼로 만났던 덕성멋사가 팀 먼덕으로 다시 만났습니다! <br>덕성여자대학교 멋쟁이 사자처럼 8기 9명이 모인 '먼덕'은 전공자와 비전공자의 모임으로 기획부터 디자인, 개발까지 약 한달간의 협업을 통해 멋진 웹 서비스를 개발해내었습니다.</p>
            </div>
            <div class="intbox wrapper"style="justify-content: space-between; margin-bottom:38px;">
                <div id="team">
                    <p id="n-team"><span id="name">정지영</span>ㅣ팀장</p>
                    <p id="n-team">디자인팀</p>
                </div>
                <div id="team">
                    <p id="n-team"><span id="name">홍인혜</span>ㅣ대표</p>
                    <p id="n-team">프론트엔드팀</p>
                </div>
                <div id="team">
                    <p id="n-team"><span id="name">강태영</span>ㅣ팀장</p>
                    <p id="n-team">백엔드팀</p>
                </div>
                <div id="team">
                    <p id="n-team"><span id="name">권은빈</span>ㅣ팀장</p>
                    <p id="n-team">MD,홍보팀</p>    
                </div>
            </div>
            <div class="intbox wrapper"style="justify-content: space-between;margin-bottom:38px;">
                <div id="nonteam"></div>
                <div id="team">
                    <p id="n-team"><span id="name">유문희</span>ㅣ팀장</p>
                    <p id="n-team">프론트엔드팀</p>
                </div>
                <div id="team">
                    <p id="n-team"><span id="name">신효정</span>ㅣ총무</p>
                    <p id="n-team">백엔드팀</p>
                </div>
                <div id="team">
                    <p id="n-team"><span id="name">노윤진</span>ㅣ팀원</p>
                    <p id="n-team">MD,홍보팀</p>
                </div>
            </div>
            <div class="intbox wrapper"style="justify-content: space-between;margin-bottom:38px;">
                <div id="nonteam"></div><div id="nonteam"></div>
                <div id="team">
                    <p id="n-team"><span id="name">김예원</span>ㅣ팀원</p>
                    <p id="n-team">백엔드팀</p>
                </div>
                <div id="team">
                    <p id="n-team"><span id="name">이나리</span>ㅣ팀원</p>
                    <p id="n-team">MD,홍보팀</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}  
</body>
</html>
