{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품페이지</title>
</head>
<body>
{% block content %}
<div class="sub-page">
    <div class="product-box">
        <br>
        <h1 id="kit-name">10월의 롯데키트 제품</h1>
        <hr style="color:red;width: 537px;height: 0px;border: 2px solid #DA291C;background-color:#DA291C;">
        <div class="product-item">    
            <div class="product-item-detail">
                <a href="{% url 'product_info' %}"><img id="product-item-img" src="{% static 'img/began-kit1.jpg' %}" /></a>
                <p id="ordinary-item-name">제로미트 베지 함박...</p>
                <span id="new">NEW!</span>
            </div>
                                
            <div class="product-item-detail">
                <img id="product-item-img" src="{% static 'img/began-kit2.jpg' %}" />
                <div><p id="ordinary-item-name">제로미트 베지 함박...</p></div>
                <span id="new">NEW!</span>
            </div>

            <div class="product-item-detail">
                <img id="product-item-img" src="{% static 'img/began-kit3.jpg' %}" />
                <p id="ordinary-item-name">제로미트 베지 까스</p>
                <span id="new">NEW!</span>
            </div>
                                
            <div class="product-item-detail">
                <img id="product-item-img" src="{% static 'img/began-kit4.jpg' %}" />
                <div><p id="ordinary-item-name">제로미트 베지 너겟</p></div>
                <span id="new">NEW!</span>
            </div>
        </div>
        <h1 id="kit-name">9월의 롯데키트 제품</h1>
        <hr style="color:red;width: 537px;height: 0px;border: 2px solid #DA291C;background-color:#DA291C;">
        <div class="product-item">    
            <div class="product-item-detail">
                <img id="product-item-img" src="{% static 'img/gut1.jpg' %}" />
                <p id="ordinary-item-name">파스퇴르 떠먹는 쾌변 망고</p>
                <span id="new">NEW!</span>
            </div>
                                
            <div class="product-item-detail">
                <img id="product-item-img" src="{% static 'img/gut2.jpg' %}" />
                <div><p id="ordinary-item-name">파스퇴르 속편한 쾌변 ...</p></div>
                <span id="new">NEW!</span>
            </div>

            <div class="product-item-detail">
                <img id="product-item-img" src="{% static 'img/gut3.jpg' %}" />
                <p id="ordinary-item-name">파스퇴르 쾌변 요구르트 ... </p>
                <span id="new">NEW!</span>
            </div>
                                
            <div class="product-item-detail">
                <img id="product-item-img" src="{% static 'img/gut4.jpg' %}" />
                <div><p id="ordinary-item-name">파스퇴르 쾌변두유 검은콩 </p></div>
                <span id="new">NEW!</span>
            </div>
        </div>    
    </div>
</div>
{% endblock content %}  
</body>
</html>