{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품페이지</title>
</head>
<body>
{% block content %}
<div class="sub-page">
    <div class="product-box">
        <br>
        <h1 id="kit-name">N월의 롯데키트 제품</h1>
        <hr style="color:red;width: 537px;height: 0px;border: 2px solid #DA291C;">
        <div class="product-item">    
            <div class="product-item-detail">
                <div id="ordinary-item-img"><a href="{% url 'product_info' %}"></a></div>
                <p id="ordinary-item-name">제로미트 베지 함박...</p>
                <span id="new">　NEW!</span>
            </div>
                                
            <div class="product-item-detail">
                <div id="ordinary-item-img"></div>
                <div><p id="ordinary-item-name">제로미트 베지 함박...</p></div>
                <span id="new">NEW!</span>
            </div>

            <div class="product-item-detail">
                <div id="ordinary-item-img"></div>
                <p id="ordinary-item-name">제로미트 베지 까스</p>
                <span id="new">　NEW!</span>
            </div>
                                
            <div class="product-item-detail">
                <div id="ordinary-item-img"></div>
                <div><p id="ordinary-item-name">제로미트 베지 너겟</p></div>
                <span id="new">NEW!</span>
            </div>

            <div class="product-item-detail">
                <div id="ordinary-item-img"></div>
                <div><p id="ordinary-item-name">해빗 건강한 마요</p></div>
                <span id="new">　　</span>
            </div>
        </div>
        <h1 id="kit-name">N월의 롯데키트 제품</h1>
        <hr style="color:red;width: 537px;height: 0px;border: 2px solid #DA291C;">
        <div class="product-item">    
            <div class="product-item-detail">
                <div id="ordinary-item-img"></div>
                <p id="ordinary-item-name">제로미트 베지 함박...</p>
                <span id="new">　NEW!</span>
            </div>
                                
            <div class="product-item-detail">
                <div id="ordinary-item-img"></div>
                <div><p id="ordinary-item-name">제로미트 베지 함박...</p></div>
                <span id="new">NEW!</span>
            </div>

            <div class="product-item-detail">
                <div id="ordinary-item-img"></div>
                <p id="ordinary-item-name">제로미트 베지 까스</p>
                <span id="new">　NEW!</span>
            </div>
                                
            <div class="product-item-detail">
                <div id="ordinary-item-img"></div>
                <div><p id="ordinary-item-name">제로미트 베지 너겟</p></div>
                <span id="new">NEW!</span>
            </div>

            <div class="product-item-detail">
                <div id="ordinary-item-img"></div>
                <div><p id="ordinary-item-name">해빗 건강한 마요</p></div>
                <span id="new">　　</span>
            </div>
        </div>    
    </div>
</div>
{% endblock content %}  
</body>
</html>