{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제로미트 베지 함박 매쉬드 포테이토</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
</head>
<body>
<div>
    <div class="product-info"> <!--회색박스-->
        <div class="info-header">
            <img class="product-img" src="../static/img/began-kit1.jpg" />
            <div>
                <p class="bold">제로미트 베지 함박 매쉬드 포테이토</p>
                <div class="info-area">
                    <div class="info-list bold">
                        <p class="refe">제품군</p>
                        <p class="refe">유통 기한</p>
                        <p class="refe">보관 방법<p>
                        <p class="refe">제품 총량</p>
                        <p class="refe">칼로리</p>
                    </div>
                    <div class="pro-list-ex">
                        <p class="refe">기타가공품 / 가열하여 섭취하는 냉동식품</p>
                        <p class="refe">12개월</p>
                        <p class="refe">18℃도 이하 냉장보관</p>
                        <p class="refe">375g</p>
                        <p class="refe">150 kcal(기타가공품 1개 80g 당 함량)</p>
                    </div>
                </div>
                <div>
                    <a class="button buy-btn" target="_blank" href="https://s.lotteon.com/sfqQIui7w">사러가기</a>
                </div>
            </div>
        </div>
    <div>

    <div class="sub-page2 product-categori">
        <div class = " product-wrapper">
            <!--//////////////////////////////////////////-->
                <div>  
                    <div class="post-menu">
                        <a id="comp" href="#comp">제품 소개</a>
                        <a href="#intro">조리법</a>
                        <a href="#price">영양 정보</a>
                    </div>
                    <div class="post-box">
                        <div class="post-box1">
                            
                             
                        </div>
                    </div>
                </div>
                <!--//////////////////////////////////////////-->
                <div>  
                    <div class="post-menu">
                        <a href="#comp">제품 소개</a>
                        <a id="intro" href="#intro">조리법</a>
                        <a href="#price">영양 정보</a>
                    </div>
                    <div class="post-box">
                        <div class="post-box1">
                            
                             
                        </div>
                    </div>
                </div>
                <!--//////////////////////////////////////////-->
                <div>  
                    <div class="post-menu">
                        <a href="#comp">제품소개</a>
                        <a href="#intro">조리법</a>
                        <a id="price" href="#price">영양 정보</a>
                    </div>
                    <div class="post-box">
                        <div class="post-box1">
                            
                             
                        </div>
                    </div>
                </div>
        </div>
        <div class="buy-btn-box">
            <a class="button buy-btn-big" target="_blank" href="https://s.lotteon.com/sfqQIui7w">사러가기</a>
        </div>
        
    </div>                
    
     



        

    
    </div>
</div>


{% endblock content %}  
</body>
</html>