{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰페이지</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

<div class="sub-page">
    <div class="review-box">
    <br>
    <h1 id="kit-name">후기</h1>
    <hr style="color:red;width:258px;height: 0px;border: 2px solid #DA291C;">
        <div class="main-review">
            <div class="review">
                <div class="review-box">
                    <img id="review" src="#" />
                    <p class="bold gray">id123456</p>
                    <p>최고의 후기 뫄모마뫄뫄마</p>
                    <p>이것도 max-width정해야하는데</p>
                    <p>왜 시험기간이랑 겹친걸까ㅏㅏㅏ</p>
                </div>

                <div class="review-box">
                    <img id="review" src="#" />
                    <p class="bold gray">id123456</p>
                    <p>최고의 후기 뫄모마뫄뫄마</p>
                    <p>이것도 max-width정해야하는데</p>
                    <p>왜 시험기간이랑 겹친걸까ㅏㅏㅏ</p>
                </div>

                <div class="review-box">
                    <img id="review" src="#" />
                    <p class="bold gray">id123456</p>
                    <p>최고의 후기 뫄모마뫄뫄마</p>
                    <p>이것도 max-width정해야하는데</p>
                    <p>왜 시험기간이랑 겹친걸까ㅏㅏㅏ</p>
                </div>
            </div><!-- END item -->

            <div class="review">
                <div class="review-box">
                    <img id="review" src="#" />
                    <p class="bold gray">id123456</p>
                    <p>최고의 후기 뫄모마뫄뫄마</p>
                    <p>이것도 max-width정해야하는데</p>
                    <p>왜 시험기간이랑 겹친걸까ㅏㅏㅏ</p>
                </div>

                <div class="review-box">
                    <img id="review" src="#" />
                    <p class="bold gray">id123456</p>
                    <p>최고의 후기 뫄모마뫄뫄마</p>
                    <p>이것도 max-width정해야하는데</p>
                    <p>왜 시험기간이랑 겹친걸까ㅏㅏㅏ</p>
                </div>

                <div class="review-box">
                    <img id="review" src="#" />
                    <p class="bold gray">id123456</p>
                    <p>최고의 후기 뫄모마뫄뫄마</p>
                    <p>이것도 max-width정해야하는데</p>
                    <p>왜 시험기간이랑 겹친걸까ㅏㅏㅏ</p>
                </div>
            </div><!-- END item -->
            
        </div><!--END main-review-->
    </div>
</div>
{% endblock content %}  
</body>
</html>