{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰페이지</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

<div class="sub-page">
    <div class="review-box">
    <br>
    <h1 id="kit-name">후기</h1>
        <div class="main-review">
            <table class="review-table">
                <thead>
                    <tr>
                    <th scope="col" width="10%">번호</th>
                    <th scope="col">상품</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>004</td>
                    <td>제로베지함박</td>
                    <td>듣던 대로 소스 아주 맛있음!</td>
                    <td>sodam</td>
                    <td>2020/10/23</td>
                    </tr>
                    <tr>
                    <td>003</td>
                    <td>제로베지함박</td>
                    <td>듣던 대로 소스 아주 맛있음!</td>
                    <td>sodam</td>
                    <td>2020/10/23</td>
                    </tr>
                    <tr>
                    <td>002</td>
                    <td>제로베지함박</td>
                    <td>듣던 대로 소스 아주 맛있음!</td>
                    <td>sodam</td>
                    <td>2020/10/23</td>
                    </tr>
                    <tr>
                    <td>001</td>
                    <td>제로베지함박</td>
                    <td>듣던 대로 소스 아주 맛있음!</td>
                    <td>sodam</td>
                    <td>2020/10/23</td>
                    </tr>
                </tbody>
            </table>
        </div><!--END main-review-->
    </div>
</div>
{% endblock content %}  
</body>
</html>