{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰페이지</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

<div class="sub-page">
    <div class="review-page">
    <br>
    <h1 id="kit-name">구매 후기</h1>
        <div class="review-div">
            <table class="review-table">
                <thead>
                    <tr>
                    <th scope="col" width="10%" class="tbnum">번호</th>
                    <th scope="col" width="5%"> </th>
                    <th scope="col" width="15%">상품</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td class="tbnum">004</td>
                    <td><img srcset="/static/img/began-kit1.jpg 20000w"></td>
                    <td>제로베지함박</td>
                    <td>앞으로 동물착취를 하지 않는 비건 마요네즈를 먹으려구요. 이번 기회에 새로 알게됐네요!</td>
                    <td>namnamgood</td>
                    <td>2020/10/23</td>
                    </tr>
                    <tr>
                    <td class="tbnum">003</td>
                    <td><img srcset="/static/img/began-kit1.jpg 20000w"></td>
                    <td>제로베지함박</td>
                    <td>듣던 대로 소스가 아주 맛있음!</td>
                    <td>sodam</td>
                    <td>2020/10/23</td>
                    </tr>
                    <tr>
                    <td class="tbnum">002</td>
                    <td><img srcset="/static/img/began-kit1.jpg 20000w"></td>
                    <td>제로베지까스</td>
                    <td>비건은 맛이 덜할 줄 알았는데 맛있네요! 특히 베지 까스 아주 맛있습니다. 재구매 의향 있어요ㅎㅎ</td>
                    <td>veganlove</td>
                    <td>2020/10/23</td>
                    </tr>
                    <tr>
                    <td class="tbnum">001</td>
                    <td><img srcset="/static/img/began-kit1.jpg 20000w"></td>
                    <td>제로베지함박</td>
                    <td>또 먹고 싶어요~~</td>
                    <td>어흥이</td>
                    <td>2020/10/23</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}  
</body>
</html>