{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel='stylesheet' href='{% static "css/signup.css" %}'/>
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico'%}">

{% endblock head %}
{% block content %}
<br>
<br>
<div class="text-center">
    <div style="font-size:33px; font-weight:bold; margin-bottom:56px;">가입 완료</div>
    <img src='{% static "img/wolsodam_2.png" %}'>

    {% if request.user.is_authenticated %}
            <div class="con"> <span style="color:#AA7357">{{ user.username }}</span>님</div>
            <div class="con" style="margin-bottom:66px"> <span style="color:#DA291C">롯데 월소담</span> 가입을 축하드립니다:)</div>
    {% endif%}

    <button id="go_main" type="button" onclick="location.href='/'">홈화면으로</button>
    <button id="go_subscribe" type="button" onclick="location.href={% url 'subscribe'%}">구독하러 가기</button>
</div>
{% endblock content %}