{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구독페이지</title>
</head>
<body>
{% block content %}
<div class="sub-page">
    <div class = "sub-wrapper">
        <header class = "sub-top-menu-wrapper">
            <div id="diamond">1</div>
            <div id="diamond">2</div>
            <div id="diamond">3</div>
            <div id="diamond">4</div>
        </header>
        <div class="sub-title">
            결제 진행
        </div>
        <div class="sub-page1">
            <div class="delivery-page">
                <div class="delivery-info">
                    <p id="twentyfour-bold">배송지 정보</p>
                </div>
                <div class = "delivery-box">
                    <p id="twenty-bold">받는 이</p>
                    <input type="text" id="input" placeholder="이름 입력"></input><br><br>
                    <p id="twenty-bold">전화번호</p>
                    <input type="text" id="input" placeholder="000-0000-0000"></input><br><br>
                    <p id="twenty-bold">우편번호</p>
                    <input type="text" id="input" placeholder="우편번호 검색"></input><br><br>
                    <p id="twenty-bold">배송지</p>
                    <input type="text" id="input" placeholder="배송지"></input><br><br>
                    <input type="text" id="input" placeholder="상세 정보"></input><br><br>
                    <p id="twenty-bold">배송 메모</p>
                    <input type="text" id="input" placeholder="부재 시 경비실에 놔두세요."></input><br><br>
                </div>
                <div class="delivery-info">
                    <p id="twentyfour-bold">결제 수단</p>
                </div>
                <div class = "delivery-box2">
                    <label id="twenty-bold">휴대폰<input type="radio" checked=""></input></label>
                    <label id="twenty-bold">계좌이체<input type="radio" checked=""></input></label>
                    <label id="twenty-bold">무통장입금<input type="radio" checked=""></input></label>
                    <label id="twenty-bold">신용카드<input type="radio" checked=""></input></label>
                </div>
            </div>
        </div>
        <div class="sub-bottom">
            <div class="next"><a href="{% url 'subscribe' %}">다음 단계</a></div>
        </div>
    </div>
</div>
{% endblock content %}  
</body>
</html>