{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구독페이지</title>
</head>
<body>
{% block content %}
<div class="sub-page">
    <div class = "sub-wrapper">
        <div class = "sub-top-menu-wrapper">
            <img id="stage" src="../static/img/stage1.png" />
        </div>
        <div class="sub-title">
            입맛 유형 테스트
        </div>
        <div class="sub-page1">
        
            <div class="sub-page1-content">
                <div id="line-mini"></div>
                <div>
                    <p id="title-nonbold">단짠파? 고소파? </p>
                    <p id="title-color-bold">나는 어떤 입맛일까?</p>
                </div>
                <div class="ques-box">
                    <img id="ques" src="../static/img/ques1.png" />
                    <form name="exf1">
                        <p id="ques-white">나는 평소 고기보다 채식 위주의 식사를 즐긴다 🥗</p>
                        <button class="yesorno" value="vegetable" name="" onclick="mc('0')"><p id="ques-white">네!</p></button>
                        <button class="yesorno" value="meat"><p id="ques-white">아니오!</p></button>
                    </form>
                </div>
                <div class="ques-box">
                    <img id="ques" src="../static/img/ques2.png" />
                    <div>
                        <p id="ques-white">나는 매운 맛의 화끈함을 즐긴다 🔥</p>
                        <button class="yesorno" value="hot"><p id="ques-white">네!</p></button>
                        <button class="yesorno" value="sweet"><p id="ques-white">아니오!</p></button>
                    </div>
                </div>
                <div class="ques-box">
                    <img id="ques" src="../static/img/ques3.png" />
                    <div>
                        <p id="ques-white">나는 주위 사람에게 아기 입맛이라는 이야기를 듣는다 👶</p>
                        <button class="yesorno" value"children"><p id="ques-white">네!</p></button>
                        <button class="yesorno" value="adult"><p id="ques-white">아니오!</p></button>
                    </div>
                </div>
                <div class="ques-box">
                    <img id="ques" src="../static/img/ques4.png" />
                    <div>
                        <p id="ques-white">나는 어떤 음식이든 몸이 잘 받아들인다 👍</p>
                        <button class="yesorno" value="nonallergy"><p id="ques-white">네!</p></button>
                        <button class="yesorno" value="allergy"><p id="ques-white">아니오!</p></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-bottom">
            <div class="next"><a href="{% url 'mbti' %}">결과보기</a></div>
        </div>
    </div>
</div>

<script type=text/javascript>

</script>
{% endblock content %}  
</body>
</html>