{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구독페이지</title>
</head>
<body>
{% block content %}
<div class="sub-page">
    <div class = "sub-wrapper">
        <header class = "sub-top-menu-wrapper">
            <div id="diamond">1</div>
            <div id="diamond">2</div>
            <div id="diamond">3</div>
            <div id="diamond">4</div>
        </header>
        <div class="sub-title">
            결제 진행
        </div>
        <div class="pay-page">
            <div class="pay-title">
                <p id="goods-info">상품 정보</p>
                <p id="goods-quan">수량</p>
                <p id="goods-price">상품 금액</p>
            </div>
            <div class = "pay-main">
                <div class="pay-main-info">
                </div>
            </div>
        </div>
        <div class="sub-page3">
            <div class="delivery-page">
                <div class="delivery-info">
                    <p id="twentythree-bold">배송 정보</p>
                    <hr id="delivery-red-line">
                </div>
                <div class = "delivery-box">
                    <p id="twenty-bold">받는 이</p>
                    <input type="text" id="input" placeholder="이름 입력"></input><br><br>
                    <p id="twenty-bold">전화번호</p>
                    <input type="text" id="input" placeholder="000-0000-0000"></input><br><br>
                    <p id="twenty-bold">우편번호</p>
                    <input type="text" id="input-post" placeholder="우편번호 검색"></input><button id="button-post">검색</button><br><br>
                    <p id="twenty-bold">배송지</p>
                    <input type="text" id="input" placeholder="배송지"></input><br><br>
                    <input type="text" id="input" placeholder="상세 정보"></input><br><br>
                    <p id="twenty-bold">배송 메모</p>
                    <input type="text" id="input" placeholder="부재 시 경비실에 놔두세요."></input><br><br>
                </div>
                <div class="delivery-info">
                    <p id="twentythree-bold">결제 수단</p>
                    <hr id="delivery-red-line">
                </div>
                <div class = "delivery-box2">
                    <label id="twenty-bold">휴대폰<input type="radio" checked=""></input></label>
                    <label id="twenty-bold">계좌이체<input type="radio" checked=""></input></label>
                    <label id="twenty-bold">무통장입금<input type="radio" checked=""></input></label>
                    <label id="twenty-bold">신용카드<input type="radio" checked=""></input></label>
                </div>
                <div class="delivery-box2">
                    <p class="card" id="twenty-bold">신용카드</p>
                    <p class="card" id="twenty-bold">할부</p>
                </div>
                <div class="delivery-box2">
                    <select id="card-sort">
                        <option selected>하나</option>
                        <option>신한</option>
                    </select>
                    <select id="installment">
                        <option selected>일시불</option>
                        <option>6개월</option>
                    </select>
                </div>
            </div>
            <div class="delivery-page">
                <div class="delivery-info">
                    <div id="twentythree-bold">결제 금액</div>
                    <div class="delivery-price">
                        <div class="delivery-price-box">
                            <div id="twentythree-bold">주문 금액</div>
                            <div id="twentythree-bold">00,000원</div>
                        </div>
                        <div class="delivery-price-box">
                            <div id="twentythree-bold">배송비</div>
                            <div id="twentythree-bold">0,000원</div>
                        </div>
                        <div class="delivery-price-box">
                            <hr style="width: 460px;border: 1px solid #AA7357;">
                        </div>
                        <div class="delivery-price-box">
                            <div id="twentythree-bold">최종 결제 금액</div>
                            <div id="twentythree-bold">00,000원</div>
                        </div>
                        <p style="font-size:16px;color:#54585A;text-align:center;"><input type="checkbox" id="checkbox">위 상품의 구매 조건 확인 및 결제 진행에 동의합니다.</input></p>
                        <div class="order-box">
                            <div class="order"><a href="{% url 'subscribe4' %}">결제하기</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}  
</body>
</html>