{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구독페이지</title>
</head>
<body>
{% block content %}
<div class="sub-page">
    <header class = "sub-wrapper">
        <div class = "sub-top-menu-wrapper">
            <img id="stage" src="{% static 'img/stage2.png' %}" />
        </div>
        <div class="sub-title">
            키트 설명
        </div>
        <div class="sub-page2">
            <div class="sub-page-img"><img id="began-logo" src="{% static 'img/began-long.jpg' %}" /></div>
            <div class = "postbox-wrapper">
                <div>  
                    <div class="post-menu">
                        <a id="comp" href="#comp">키트소개</a>
                        <a href="#intro">신제품소개</a>
                        <a href="#price">가격안내</a>
                    </div>
                    <div class="post-box">
                        <div class="post-box1">
                            <h1 id="kit-name">비건 KIT: 동물 착취를 하지 않는 비건을 체험해보세요!</h1>
                            <div class="post-sub-box">
                                <div class="item-box">
                                    <p id="item-name">① 제로미트 베지 함박 매쉬드 포테이토 <span id="new">　NEW!</span></p>
                                    <p id="item-detail">-제품군: 기타가공품/가열하여 섭취하는 냉동식품</p>
                                    <p id="item-detail">-소분 중량 : 80g</p>
                                    <p id="item-detail">-칼로리 : 150kcal(80g기준)</p>
                                </div>
                                <div class="item-box">
                                    <p id="item-name">② 제로미트 베지 함박 오리지널 <span id="new">　NEW!</span></p>
                                    <p id="item-detail">-제품군:기타가공품/가열하여 섭취하는 냉동식품</p>
                                    <p id="item-detail">-소분 중량 : 80g</p>
                                    <p id="item-detail">-칼로리 : 190kcal(80g기준)</p>
                                </div>
                                <div class="item-box">
                                    <p id="item-name">③ 제로미트 베지 까스<span id="new">　NEW!</span></p>
                                    <p id="item-detail">-제품군:기타가공품/가열하여 섭취하는 냉동식품</p>
                                    <p id="item-detail">-소분 중량 : 100g</p>
                                    <p id="item-detail">-칼로리 : 200kcal(100g기준)</p>
                                </div>
                                <div class="item-box">
                                    <p id="item-name">④ 제로미트 베지 너겟 <span id="new">　NEW!</span></p>
                                    <p id="item-detail">-제품군 : 기타가공품/가열하여 섭취하는 냉동식품</p>
                                    <p id="item-detail">-소분 중량 : 100g</p>
                                    <p id="item-detail">-칼로리 : 200kcal(100g기준)</p>
                                </div>
                                <div class="item-box">
                                    <p id="item-name">⑤ 해빗 건강한 마요</p>
                                    <p id="item-detail">-제품군 : 소스</p>
                                    <p id="item-detail">-소분 중량 : 100g</p>
                                    <p id="item-detail">-칼로리 : 575kcal(100g기준)</p>
                                </div>
                                <div class="recomend-box">
                                    <br>
                                    <h1 id="kit-name">추천 조합</h1>
                                    <p id="silver-font">나뚜루 비건 아이스크림: 디저트로 어떠세요?</p>
                                    <div class="ordinary-item">    
                                        <div class="ordinary-item-detail">
                                            <img id="product-item-img" src="{% static 'img/natuur1.JPG' %}" />
                                            <p id="ordinary-item-name">나뚜루 캐슈 바닐라</p>
                                            <div id="ordinary-item-click"><a href="http://www.7-eleven.co.kr/" target="_blank">사러가기</a></div>
                                        </div>
                            
                                        <div class="ordinary-item-detail">
                                            <img id="product-item-img" src="{% static 'img/natuur2.JPG' %}" />
                                            <div><p id="ordinary-item-name">나뚜루 코코넛 파인애플</p></div>
                                            <div id="ordinary-item-click"><a href="http://www.7-eleven.co.kr/" target="_blank">사러가기</a></div>
                                        </div>
                                    </div>    
                               </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="post-menu">
                        <a href="#comp">키트소개</a>
                        <a id="intro" href="#intro">신제품소개</a>
                        <a href="#price">가격안내</a>
                    </div>
                    <div class="post-box">
                        <div class="post-box1">
                            <h1 id="kit-name">제로미트 베지 함박 매쉬드 포테이토</h1>
                            <div class="new-item-box">
                                <img id="began" src="{% static 'img/began-kit1.jpg' %}" />
                                <div class="item-introduce">
                                    <p id="intro-bold">1. 고기없이 맛있게 </p>
                                    <p id="item-detail">콩 단백질로 빚어 구운 식물성 함박과 식물성 소스 </p>
                                    <p id="intro-bold">2. 콜레스테롤 ZERO </p>
                                    <p id="item-detail">콜레스테롤 0%로 몸도 마음도 가볍게~(식물성 기름에 구워도 여전히 ZERO!) </p>
                                    <p id="intro-bold">3. 가볍고 든든하게 </p>
                                    <p id="item-detail">1일 영양성분 기준치 식이섬유 약 20% 충족(100g 당 식이섬유 약 5g 함유) </p>
                                    <p id="intro-bold">4. 식물성 고단백질</p> 
                                    <p id="item-detail">1일 영양성분 기준치 단백질 약 20% 충족(100g 당 단백질 약 11g 함유)</p>
                                </div>
                            </div>
                            <h1 id="kit-name">제로미트 베지 함박 오리지널</h1>
                            <div class="new-item-box">
                                <img id="began" src="{% static 'img/began-kit2.jpg' %}" />
                                <div class="item-introduce">
                                    <p id="intro-bold">1. 고기없이 맛있게 </p>
                                    <p id="item-detail">콩 단백질로 빚어 구운 식물성 함박과 식물성 소스 </p>
                                    <p id="intro-bold">2. 콜레스테롤 ZERO </p>
                                    <p id="item-detail">콜레스테롤 0%로 몸도 마음도 가볍게~(식물성 기름에 구워도 여전히 ZERO!) </p>
                                    <p id="intro-bold">3. 가볍고 든든하게 </p>
                                    <p id="item-detail">1일 영양성분 기준치 식이섬유 약 20% 충족(100g 당 식이섬유 약 5g 함유) </p>
                                    <p id="intro-bold">4. 식물성 고단백질</p> 
                                    <p id="item-detail">1일 영양성분 기준치 단백질 약 20% 충족(100g 당 단백질 약 11g 함유)</p>
                                </div>
                            </div>
                            <h1 id="kit-name">제로미트 베지 까스</h1>
                            <div class="new-item-box">
                                <img id="began" src="{% static 'img/began-kit3.jpg' %}" />
                                <div class="item-introduce">
                                    <p id="intro-bold">1. ZERO MEAT </p> 
                                    <p id="item-detail">동봉된 소스도 모두 식물성 원료로 만들었어요</p>  
                                    <p id="intro-bold">2. 콜레스테롤 ZERO </p> 
                                    <p id="item-detail">콜레스테롤 0%로 몸도 마음도 가볍게~(식물성 기름에 구워도 여전히 ZERO!) </p> 
                                    <p id="intro-bold">3. 옥수수칩으로 바삭고소 </p> 
                                    <p id="item-detail">옥수수칩(콘슈레드크럼)으로 첫 입부터 바삭고소! </p> 
                                    <p id="intro-bold">4. 고단백질 </p> 
                                    <p id="item-detail">식물성 단백질을 듬뿍~담은!(100g 당 단백질 약 14g 함유)</p> 
                                </div>
                            </div>
                            <h1 id="kit-name">제로미트 베지 너겟</h1>
                            <div class="new-item-box">
                                <img id="began" src="{% static 'img/began-kit4.jpg' %}" />
                                <div class="item-introduce">
                                    <p id="intro-bold">1. ZERO MEAT </p> 
                                    <p id="item-detail">동봉된 소스도 모두 식물성 원료로 만들었어요</p>  
                                    <p id="intro-bold">2. 콜레스테롤 ZERO </p> 
                                    <p id="item-detail">콜레스테롤 0%로 몸도 마음도 가볍게~(식물성 기름에 구워도 여전히 ZERO!) </p> 
                                    <p id="intro-bold">3. 옥수수칩으로 바삭고소 </p> 
                                    <p id="item-detail">옥수수칩(콘슈레드크럼)으로 첫 입부터 바삭고소! </p> 
                                    <p id="intro-bold">4. 고단백질 </p> 
                                    <p id="item-detail">식물성 단백질을 듬뿍~담은!(100g 당 단백질 약 14g 함유)</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="post-menu">
                        <a href="#comp">키트구성</a>
                        <a href="#intro">신제품소개</a>
                        <a id="price" href="#price">가격안내</a>
                    </div>
                    <div class="post-box">
                        <div class="post-box1">
                            <h1 id="title-non-bold">정기 결제</h1>
                            <p id="silver-font">정기 결제는 매월 00에 자동 청구 됩니다.(배송비 포함)</p>
                            <div class="buy-kit"> 
                                <div class = "buy-kit-box">
                                    <div id="buy-kit-img"><img id="wolsodam_img" src='{% static "img/wolsodam_2.png" %}' alt="img"></div>
                                    <div><p id="price-kit">1 키트 | 월 00,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-bottom">
                <div class="next"><a href="{% url 'subscribe3' %}">구매하기</a></div>
            </div>
        </div>
        
    </header>
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    $(document).on('click', 'a[href^="#"]', function (event) {
        event.preventDefault();

        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 400);
    });
</script>

{% endblock content %}  
</body>
</html>