{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구독페이지</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
{% block content %}
<div class="sub-page">
    <div class = "sub-wrapper">
        <div class = "sub-top-menu-wrapper">
            <img id="stage" src="{% static 'img/stage1.png' %}" />
        </div>
        <div class="sub-title">
            입맛 유형 테스트
        </div>
        <div class="sub-page1">
        
            <div class="sub-page1-content">
                <div id="line-mini"></div>
                <div>
                    <p id="title-nonbold">단짠파? 고소파? </p>
                    <p id="title-color-bold">나는 어떤 입맛일까?</p>
                </div>

                <div class="ques-box">
                    <img id="ques" src="{% static 'img/ques1.png' %}" />
                    <div>
                        <p id="ques-white">나는 평소 고기보다 채식 위주의 식사를 즐긴다 🥗</p>

                        <div class="yesorno"><button class="sel-btn" id="vegetable" onclick="printName('v');" value="V"><img id="yes-btn1" onclick="changeImage('yes')" src="{% static 'img/yes-red.png'%}"></button>                        </div>
                        <div class="yesorno"><button class="sel-btn" id="meat" onclick="printName('m');" value="M"><img id="no-btn1" onclick="changeImage('no')" src="{% static 'img/no-red.png'%}"></button>                        </div>

                    </div>
                </div>
                <div class="ques-box">
                    <img id="ques" src="{% static 'img/ques2.png' %}" />
                    <div>
                        <p id="ques-white">나는 매운 맛의 화끈함을 즐긴다 🔥</p>
                        <div class="yesorno"><button class="sel-btn" id="hot" onclick="printName2('h');" value="H"><img id="yes-btn2" onclick="changeImage('yes2')" class="btn-img" src="{% static 'img/yes-red.png'%}"></button></div>
                        <div class="yesorno"><button class="sel-btn" id="sweet" onclick="printName2('s');" value="S"><img id="no-btn2" onclick="changeImage('no2')" class="btn-img" src="{% static 'img/no-red.png'%}"></button></div>
                    </div>
                </div>
                <div class="ques-box">
                    <img id="ques" src="{% static 'img/ques3.png' %}" />
                    <div>
                        <p id="ques-white">나는 주위 사람에게 아기 입맛이라는 이야기를 듣는다 👶</p>
                        <div class="yesorno"><button class="sel-btn" id="children" onclick="printName3('c');" value="C"><img id="yes-btn3" onclick="changeImage('yes3')" class="btn-img" src="{% static 'img/yes-red.png'%}"></button></div>
                        <div class="yesorno"><button class="sel-btn" id="adult" onclick="printName3('a');" value="A"><img id="no-btn3" onclick="changeImage('no3')" class="btn-img" src="{% static 'img/no-red.png'%}"></button></div>
                    </div>
                </div>
                <div class="ques-box">
                    <img id="ques" src="{% static 'img/ques4.png' %}" />
                    <div>
                        <p id="ques-white">나는 어떤 음식이든 몸이 잘 받아들인다 👍</p>
                        <div class="yesorno"><button class="sel-btn" id="nonallergy" onclick="printName4('n');" value="N"><img id="yes-btn4" onclick="changeImage('yes4')" class="btn-img" src="{% static 'img/yes-red.png'%}"></button></div>
                        <div class="yesorno"><button class="sel-btn" id="allergy" onclick="printName4('al');" value="A"><img id="no-btn4" onclick="changeImage('no4')" class="btn-img" src="{% static 'img/no-red.png'%}"></button></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sub-bottom">
            <div class="next"><a onclick="showhide()">결과보기</a></div>
        </div>
        <div id="mbtiboxl" style="display:none">
            <div class="result-box">
                <div id='result'>
                    <hr id="mbti-mini-line"></hr>
                    <p id="mbti-mini-text">당신의 입맛은</p>
                    <span id='result1'></span><span id='result2'></span><span id='result3'></span><span id='result4'></span><span id='result5'>형</span>
                </div>
            </div>
            <div class="mbti">
                <div class="mbti-mini">
                    <div id = "mbti-ex">M : Meat / V : Vegetable</div><div id = "mbti-ex">A : Adult / C : Children</div>
                </div>
                <div class="mbti-mini">
                    <div id = "mbti-ex">H : Hot / S : Sweet</div><div id = "mbti-ex">A: Allergy / N : Non-Allergy</div>
                </div>
            </div>
            <div class="sub-bottom">
                <div class="next"><a href="{% url 'subscribe2' %}">다음 단계로</a></div>
            </div>
        </div>
    </div>
</div>

<script type=text/javascript>

    function showhide(){
        if(document.getElementById("mbtiboxl").style=="display:none"){
            document.getElementById("mbtiboxl").style="display:visible";
        }else document.getElementById("mbtiboxl").style="display:visible";
    }

    function printName(e)  {
        var gubun = e;
        
        let name1;

        if (gubun=="v"){
            name1 = document.getElementById("vegetable").value;
        }else if(gubun=="m"){
            name1 = document.getElementById("meat").value;
        }

        document.getElementById('result1').innerText = name1;
    }

    function printName2(e)  {
        var gubun = e;
        let name2;

        if (gubun=="h"){
            name2 = document.getElementById("hot").value;
        }else if(gubun=="s"){
            name2 = document.getElementById("sweet").value;
        }

        document.getElementById('result2').innerText = name2; 
    }

    function printName3(e)  {
        var gubun = e;
        let name3;

        if (gubun=="c"){
            name3 = document.getElementById("children").value;
        }else if(gubun=="a"){
            name3 = document.getElementById("adult").value;
        }

        document.getElementById('result3').innerText = name3; 
    }

    function printName4(e)  {
        var gubun = e;
        let name4;

        if (gubun=="n"){
            name4 = document.getElementById("nonallergy").value;
        }else if(gubun=="al"){
            name4 = document.getElementById("allergy").value;
        }

        document.getElementById('result4').innerText = name4; 
    }

    var state = 0;

    function changeImage(k) {
        var ans = k
        if (ans=='yes'){
            if (state == 0) {
                state = 1;
                document.getElementById('yes-btn1').src = "{% static 'img/yes-dark.png' %}";
            }else {
                state = 0;
                document.getElementById('yes-btn1').src = "{% static 'img/yes-red.png' %}";
            }
        }else if (ans=='no') {
            if (state == 0) {
                state =1;
                document.getElementById('no-btn1').src = "{% static 'img/no-dark.png' %}";
            }else {
                state = 0;
                document.getElementById('no-btn1').src = "{% static 'img/no-red.png' %}";
            }
            ans=='';
        }
        else if (ans=='yes2'){
            if (state == 0) {
                state = 1;
                document.getElementById('yes-btn2').src = "{% static 'img/yes-dark.png' %}";
            }else {
                state = 0;
                document.getElementById('yes-btn2').src = "{% static 'img/yes-red.png' %}";
            }

        }else if (ans=='no2') {
            if (state == 0) {
                state =1;
                document.getElementById('no-btn2').src = "{% static 'img/no-dark.png' %}";
            }else {
                state = 0;
                document.getElementById('no-btn2').src = "{% static 'img/no-red.png' %}";
            }

        }
        else if (ans=='yes3'){
            if (state == 0) {
                state = 1;
                document.getElementById('yes-btn3').src = "{% static 'img/yes-dark.png' %}";
            }else {
                state = 0;
                document.getElementById('yes-btn3').src = "{% static 'img/yes-red.png' %}";
            }

        }else if (ans=='no3') {
            if (state == 0) {
                state =1;
                document.getElementById('no-btn3').src = "{% static 'img/no-dark.png' %}";
            }else {
                state = 0;
                document.getElementById('no-btn3').src = "{% static 'img/no-red.png' %}";
            }

        }
        else if (ans=='yes4'){
            if (state == 0) {
                state = 1;
                document.getElementById('yes-btn4').src = "{% static 'img/yes-dark.png' %}";
            }else {
                state = 0;
                document.getElementById('yes-btn4').src = "{% static 'img/yes-red.png' %}";
            }

        }else if (ans=='no4'){
            if (state == 0) {
                state =1;
                document.getElementById('no-btn4').src = "{% static 'img/no-dark.png' %}";
            }else {
                state = 0;
                document.getElementById('no-btn4').src = "{% static 'img/no-red.png' %}";
            }

        }
    }

</script>

{% endblock content %}  
</body>
</html>