{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구독페이지</title>
    
</head>
<body>
{% block content %}
<div class="sub-page">
    <div class = "sub-wrapper">
        <div class = "sub-top-menu-wrapper">
            <img id="stage" src="../static/img/stage1.png" />
        </div>
        <div class="sub-title">
            입맛 유형 테스트
        </div>
        <div class="sub-page1">
        
            <div class="sub-page1-content">
                <div id="line-mini"></div>
                <div>
                    <p id="title-nonbold">단짠파? 고소파? </p>
                    <p id="title-color-bold">나는 어떤 입맛일까?</p>
                </div>

                <form action="mbti.html" method="POST">
                <div class="ques-box">
                    <img id="ques" src="../static/img/ques1.png" />
                    <form name="exf1">
                        <p id="ques-white">나는 평소 고기보다 채식 위주의 식사를 즐긴다 🥗</p>

                        <div class="yesorno"><button id="vegetable" onclick="printName('v');" value="V"><p id="ques-white">네!</p></button></div>
                        <div class="yesorno"><button id="meat" onclick="printName('m');" value="M"><p id="ques-white">아니오!</p></button></div>
                    </div>

                </div>
                <div class="ques-box">
                    <img id="ques" src="../static/img/ques2.png" />
                    <div>
                        <p id="ques-white">나는 매운 맛의 화끈함을 즐긴다 🔥</p>

                        <div class="yesorno"><button id="hot" onclick="printName2('h');" value="H"><p id="ques-white">네!</p></button></div>
                        <div class="yesorno"><button id="sweet" onclick="printName2('s');" value="S"><p id="ques-white">아니오!</p></button></div>

                    </div>
                </div>
                <div class="ques-box">
                    <img id="ques" src="../static/img/ques3.png" />
                    <div>
                        <p id="ques-white">나는 주위 사람에게 아기 입맛이라는 이야기를 듣는다 👶</p>
                        <div class="yesorno"><button id="children" onclick="printName3('c');" value="C"><p id="ques-white">네!</p></button></div>
                        <div class="yesorno"><button id="adult" onclick="printName3('a');" value="A"><p id="ques-white">아니오!</p></button></div>

                    </div>
                </div>
                <div class="ques-box">
                    <img id="ques" src="../static/img/ques4.png" />
                    <div>
                        <p id="ques-white">나는 어떤 음식이든 몸이 잘 받아들인다 👍</p>

                        <div class="yesorno"><button id="nonallergy" onclick="printName4('n');" value="N"><p id="ques-white">네!</p></button></div>
                        <div class="yesorno"><button id="allergy" onclick="printName4('al');" value="A"><p id="ques-white">아니오!</p></button></div>

                    </div>
                </div>

                <div class="sub-bottom">
                    <div class="next"><input type="button" onclick="location.href='mbti'">결과보기</a></div>
                </div>
                </form>
            </div>
        </div>
        <div id='result'><span id='result1'></span><span id='result2'></span><span id='result3'></span><span id='result4'></span></div>
        <div class="sub-bottom">
            <div class="next"><a href="{% url 'mbti' %}">결과보기</a></div>
        </div>
    </div>
</div>

<script type=text/javascript>

    function printName2(e)  {
        var gubun = e;
        let name2;

        if (gubun=="h"){
            name2 = document.getElementById("hot").value;
        }else if(gubun=="s"){
            name2 = document.getElementById("sweet").value;
        }

        document.getElementById('result2').innerText = name2; 
    }

    function printName3(e)  {
        var gubun = e;
        let name3;

        if (gubun=="c"){
            name3 = document.getElementById("children").value;
        }else if(gubun=="a"){
            name3 = document.getElementById("adult").value;
        }

        document.getElementById('result3').innerText = name3; 
    }

    function printName4(e)  {
        var gubun = e;
        let name4;

        if (gubun=="n"){
            name4 = document.getElementById("nonallergy").value;
        }else if(gubun=="al"){
            name4 = document.getElementById("allergy").value;
        }

        document.getElementById('result4').innerText = name4; 
    }

</script>
<script>
    
</script>
{% endblock content %}  
</body>
</html>